.result-top{
    background-color:rgb(244, 255, 255);
     border: 1px solid #ccc;
}
.paddingZero{
    padding: 0px;
}
.source{
    font-weight: bold;
    font-family: 'Karla', sans-serif;
}
.logo-img{
    padding: 4% 29%;
}

.flight-result-box{
    padding: 3% 1%;
    border: 1px solid #ccc;
    margin-top: 2%;
    border-radius: 6px;       
    transition: box-shadow .2s;
}

.flight-result-box:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    background-color: #fdfdfd; 
}

.flight-name{
    font-family: 'Karla', sans-serif;
    font-size:18px ;
}

.flight-time{
    font-size: 18px; font-weight: bold;
    font-family: 'Karla', sans-serif;
}

.list-inline-item{
    padding: 3% 4% 0 4%;
}
.out-of-policy{
    font-family: 'Karla', sans-serif;
}
.departure-date{
    font-weight: bold;
    font-family: 'Karla', sans-serif;
}


#dept{
    margin-right: 33%;
}

#switch{
    margin: 0% 13%;
}

.btn-primary.disabled{
    color: #fff;
    background-color: #a6aeb7;
    border-color: #007bff;
    margin-top: 6%;
    padding: 3% 5%;
}


